<div class="global-wrapper">
	<div class="top">
		<div class="empty">
			
		</div>
		<div class="right">
			<h1>
				WHAT
			</h1>
			<p>
				<span class="first-letter">I</span>s it possible to create a space where people
				feel good emotions only, become free and one with everything?
			</p>
			<p>
				This is the question that motivates us, that we explore both scientifically and experimentally, and from which ANKINUDE dynamically	and creatively unfolds.
			</p>
		</div>
	</div>
	<div class="bottom">
		<div class="description">
			<h1>OUR MISSION</h1>
			<p>
				<span class="first-letter">W</span>e e create a place where people feel accepted as they are and can let go of all limitations to contribute to more connectedness in this world.
			</p>
			<p>
				We work with interactive, dynamic art forms that play with the particular structure and unfolding possibilities of the respective environment. With the participants at the center, magic is created through experimental exploration, and spontaneous reactive part-being. The audience simultaneously creates and jointly permeates their own experiential space in the actual moment.
			</p>
		</div>
		<div class="social-networks">
			<h2>CONTACT US</h2>
			<div class="img-container">
			<img src="http://135.125.238.126:1717/img/insta_logo.png"/>
			</div>
		</div>
	</div>
	<div class="logo">
		<img src="http://135.125.238.126:1717/img/ankinude_logo.png"/>
	</div>
</div>