<div class="global-wrapper">
	<div class="top">
		<h1>EVENTS</h1>
		<div class="row-container">
			<div class="row">
				<div class="month">
					AUGUST
				</div>
				<div class="events">
					<div class="event-details">
						<div class="location">CH</div>
						<div class="date">2021 | 08 | 22</div>
						<div class="info">| OPEN SEA | BOAT | ZURICH</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="month">
					SEPTEMBER
				</div>
				<div class="events">
					<div class="event-details">
						<div class="location">GER</div>
						<div class="date">2021 | 09 | 05</div>
						<div class="info">| ROSA STERN | MUNICH</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="month">
					NOVEMBER
				</div>
				<div class="events">
					<div class="event-details">
						<div class="location">CH</div>
						<div class="date">2021 | 11 | 09</div>
						<div class="info">| BUNKER PARTY | ST. MORITZ</div>
					</div>
					<div class="event-details">
						<div class="location">CH</div>
						<div class="date">2021 | 11 | 24</div>
						<div class="info">| BUNKER PARTY | ST. MORITZ</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="month">
					DECEMBER
				</div>
				<div class="events">
					<div class="event-details">
						<div class="location">PT</div>
						<div class="date">2021 | 12 | 28</div>
						<div class="info">| OHAI | NAZARÉ</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="description">
			<div class="text-container">
				<p>
					<span class="first-letter">H</span>aruptas evel mossi oditis mi, sum estempo rionem aut ea sumquistia ventus accum ellaccaeceat ipiet qui ommolor porepudit occum nostis que im fugit il magnatustem. Tem et arci quam quo blant, si atus sequae restio opturia venet quas iundam harit ut eossit, vel excearia volesto beatesed eost aut cestrum natem harum aut untiam nos re nustissed eatur, ni autatem accus.
				</p>
				<p>
					La que consedi ciatioris vendita quatius alisi im harum hil eosse nem que nam, conet acilit aciis mint ut eicte et pra con remquis acesti am, utessuntior sime et labo.
				</p>
				<div class="bottom-text">
					St. Moritz Zivilschutzanlage Grevas | 2021.12.09 | 10 PM | CHF 10,00
				</div>
			</div>
		</div>
		<div class="social-networks">
			<div class="img-container">
			<img src="http://135.125.238.126:1717/img/facebook_logo.png"/>
			</div>
		</div>
	</div>
	<div class="logo">
		<img src="http://135.125.238.126:1717/img/ankinude_logo.png"/>
	</div>
</div>