<div class="home-wrapper">
	<div class="home-wrapper-left">

	</div>
	<div class="home-wrapper-right">
		<div class="home-wrapper-right-top">
			<div class="text link" routerLink="/events">WHAT'S NEXT</div>
		</div>
		<div class="home-wrapper-right-bottom">
			<div class="home-wrapper-right-bottom-left">
				<div class="text link" routerLink="/about">ABOUT</div>
			</div>
			<div class="home-wrapper-right-bottom-right">
				<div class="text link">SHOP</div>
			</div>
		</div>
		<div class="logo">
		<img src="http://135.125.238.126:1717/img/ankinude_logo.png"/>
	</div>
	</div>

</div>